{
  "extends": "react-app",
  "rules": {
    "strict": [2, "global"],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "no-console": [0],
    "no-var": [2],
    "jsx-quotes": ["error", "prefer-double"]
    /*"object-curly-spacing": ["error", "always"] Consider adding */
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}