.Board {
  position: relative;
  margin: 0 auto;
  background-color: #242833;
  background-image: linear-gradient(#444 1px, transparent 1px), linear-gradient(90deg, #444 1px, transparent 1px);
}

.Cell {
  background: #fffe86;
  position: absolute;
}

button {
  font-size: 12pt;
  cursor: pointer;
  color: rgb(24, 188, 156);
  background-color: transparent;
  border-radius: 8px;
  margin: 2px 0 0 10px;
  padding: 3px 35px;
  transition: background-color 0.2s ease 0s;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(24, 188, 156);
  border-image: initial;
}